* {
    width: 98%;
    height: 98%;
    margin: 0;
    padding: 0;
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 250, 60);
    font-size: 10cm;
}

a:hover {
    text-decoration: underline;
}

.reloader {
    max-width: 400px;
    max-height: 50px;

    border: 1px solid black;
    color: black;
    font-size: 1cm;
}

.goback {
    max-width: 400px;
    max-height: 50px;

    border: 1px solid black;
    color: black;
    font-size: 1cm;
}

.top {
    display: flex;
    padding: 0;
    margin: 0;
    width: 401px;
    height: 50px;
}