
.Logo {
    width: 23%;
	height: 100px;
    background: red;
    text-align: center;
    border-right: 1px solid #000; 
}
   
.Menu {
    width: 23%;
	height: 100px;
    background: red;
    text-align: center; 
}
.News {
    width: 23%;
	height: 100px;
    background: red;
    text-align: center; 
}
.List {
    width: 23%;
	height: 100px;
    background: red;
    text-align: center; 
}
.Navig {
    flex: 1 1 0;
	padding: 70px 25px;
	
	border-left: 1px solid #b5eae0;

	text-align: center;
    background-color: red;
}
.Footer {
    flex: 1 1 0;
	padding: 70px 25px;
	
	border-left: 1px solid #b5eae0;

	text-align: center;
	background-color: red;
}

