* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    width: 960px;
    height: 1350px;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    
}
    .col1 {
        display: flex;
        flex-direction: row;
    }

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 450px 0 450px;
    padding-bottom: 50px;
    
}

.nav {
    display: column;    
    width: 232px;
    height: 252px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 103px;
    flex-shrink: 0;
}

.nav__title {
               
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.5px;
    text-transform: uppercase;
      
}

.box {
    
    display: flex;
    padding: 10px 70px 10px 20px;
    
    
    
}

.box:last-child {
    padding-bottom: 0;
}
.box__border{
    display: flex;
    flex: 0 0 20px;
    
    padding-right: 10px;
    
    
}
.box__text {
    
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;

   
   
    color: #4A4A4A;
    
    }

.box:hover {
    background-color: #F1FCFF;

    }

.nav-title {
    display: flex;
    flex: 0 0 503px;
    background-color: #FFFFFF;;
    border: 1px solid #DFE5EC;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

.nav-title-aa {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 503px;
    height: 50px;
    margin-left: 20px;
}

.nav-title-a {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #2196F3FF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 252px;
    height: 50px;
    color:#FFFFFF;
    padding: 15px 56px 15px 57px;
    
    
}

.nav-title-b {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 251px;
    height: 50px;
    padding: 15px 56px 15px 57px;
    
}
.litak {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    width: 502px;
    height: 181px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.litak_block_a {
    display: flex;
}

.litak__samolet {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
    margin-top: 20px;
    
}
.litak__money{
    display: flex;
    flex-direction: row;
    flex: 0 0 147px;
    height: 24px;
    white-space: nowrap;
    padding: 26px 175px 26px 20px;
    color:#2196F3;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.litak__samolet {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
    width: 252px;
    height: 52px;
}

.img_logo_sam {
    display: flex;
    flex: 0 0 110px;
    height: 36px;
}

.god {
    display: flex;
    
}

.put {
    display: flex;
    flex-direction: column;
}

.vremia {
    display: flex;
    flex-direction: column;
}

.litak__vremia,
.litak_time_vrem,
.litak__rechen_gorod {
    display: flex;
    font-style: normal;    
    flex: 0 0 21px;
    width: 141px;
}

.litak__naz,
.litak_time_put,
.litak__rechen_peres {
    display: flex;
    flex: 0 0 21px;
    width: 141px;

color: #A0B0B9;
}

.litak__gorod_a {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
}
.litak_time_put{
    display: flex;
    flex: 0 0 21px;
    width: 141px;
    
}
.litak__naz {
    display: flex;
    flex: 0 0 18px;
    width: 141px;
}

.litak__gorod_b {
    margin-left: 20px;
    
}

.litak__rechen_a,
.litak__rechen_b {
    margin-left: 20px;
    margin-bottom: 10px;
}

.rechen {
    display: flex;
    flex-direction: column;
    padding-left: 
}
 .litak__time_a {
    margin-left: 20px;
    margin-bottom: 10px;
 }

 .litak__rechen_peres {
    display: flex;
    flex: 0 0 21px;
    width: 141px;
 }
 .litak__rechen_gorod {
    display: flex;
    flex: 0 0 21px;
    width: 141px;
 }


 .litak__time_b {
    margin-left: 20px;
    margin-bottom: 10px;
 }

 .col2 {
     display: flex;
     flex-direction: column;
     flex: 0 1 502px;
     margin-left: 355px;
     width: 502px;
     height: 184px; 
 }

 .litak1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
    width: 502px;
    height: 181px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.litak1:last-child {
    margin-bottom: 120px;
}
 